*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;;
}
.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(4,1fr);
    border: 3px solid red;
    height:95% ;
    width: 95%;
}
.child{
    border: 3px solid red;
}
#c1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #4168e1;

}
#c2{
    background-color: #4682b4;
        height: 300px;
}
#c3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #4682b4;
    width: 900px;
 
}
#c4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
        background-color: #4682b4;
}
#c5{
    background-color: #4682b4;
}
#c6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
       background-color: #4168e1;
}